@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap');

:root {
  font-family: 'Lexend', 'Outfit', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1a21a5;
  text-decoration: underline;
}

a:hover {
  color: #0d1272;
}

.btn-primary{
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.6rem 3rem;
  font-size: 1em;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgba(255, 78, 80, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #262736;
    --text-color: #ffffff;
    --text-sec: #fdf7ee;
    --secondary: #fc6414;
    --primary: #222c55;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f8fdff;
    --text-color: #000000;
    --text-sec: #fdf7ee;
    --secondary: #fc6414;
    --primary: #222c55;
  }
}
